<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm"  *ngIf="!isLoading">
      <mat-form-field>
        <input matInput name="email" ngModel #emailInput="ngModel" type="email" required email placeholder="E-Mail">
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password" ngModel #passwordInput="ngModel" required placeholder="Password">
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading" [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card>