<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="products.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      {{ product.name }}
    </mat-expansion-panel-header>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.quantity }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', product.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(product.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> 
<mat-paginator [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="products.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="products.length <= 0 && !isLoading">No product created yet!</p>