<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSaveProduct()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Product Name">
        <mat-error *ngIf="form.get('name').invalid">Please enter a product name.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" formControlName="description" placeholder="Product Description"></textarea>
        <mat-error *ngIf="form.get('description').invalid">Please enter a product description.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="price" placeholder="Product Price">
        <mat-error *ngIf="form.get('price').invalid">Please enter a product price.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="quantity" placeholder="Product Quantity">
        <mat-error *ngIf="form.get('quantity').invalid">Please enter a product quantity.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">Save Product</button>
    </form>
  </mat-card>